font-family: 'DM Sans', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Varela', sans-serif;

@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
#root,
.app{
    height: 100%;
    width: 100%;
    font-family: "DM Sans", sans-serif;
    @apply text-gray-500;
}